/* base code */
body{
    background-color: #31694E;
}
.header{
    text-align: center;
    background-color: #BBC863;
    font-family:'Lobster';
}


.header h2{
    margin-top: -5px;
    font-size: 45px;
}

.header img{
    width: 1280px;
    margin-left: -8px;
    margin-top: -9px;
}
ul{
    list-style-type:none;
    margin:0px;
    padding:0px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 236, 209, 0.5);
    backdrop-filter: blur(5px);
    width: 90%;
    border-radius: 100px;
}

li a, .dropbtn{
    display:inline-block;
    color:#313647;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
}
li a:hover, .dropdown:hover .dropbtn{
    background-color:#355070;
    border-radius: 100px;
}
li.dropdown{
    display:inline-block;
}
.dropdown-content{
    display:none;
    position:absolute;
    width:95x;
    z-index:1;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0,2);
    background-color: #355070;
    border-radius: 30px;
}

.short{width: 97px;}

.long{
    width: 150px;
}
.dropdown-content a{
    color: #F9B487;
    padding:12px 16px;
    text-decoration:none;
    display:block;
    text-align: center;
    padding: 10px 10px 20px 10px;
    background-size: 30px;
}
.dropdown-content a:hover{
    background-color:#355070;
}
.dropdown:hover .dropdown-content{
    display:block;
}
li a, .active{
    color:#313647;
}
li a:hover, .dropdown:hover, .dtopbtn{
    color:white;
}

.footer img{
    width: 1280px;
    margin-left: -8px;
    margin-top: -9px;
}

/* index css */
.column {
float: left;
width: 33.33%;
padding: 15px;
}


.column{
    margin-top: 12px;
    margin-right: 2px;
    background-color: #313647;
    color: white;
    text-align: left;
    width: 750px;
    padding: 15px;
    float: left;
    margin-bottom: 12px;
}


.galeri img{
    width: 400px;
    height: 350px;
    margin-left: 20px;
}

.galeri:hover{
    transition: transform .12s ease, filter .12s ease;
}

.column h2{
    text-align: center;
}

.column1 h2{
    text-align: center;
}

.column1{
    margin-top: 12px;
    margin-right: 20px;
    background-color: #313647;
    color: white;
    text-align: right;
    width: 400px;
    padding: 15px;
    float: right;
}

.column p{
    font-size: large;
}

.column ol{
    font-size: larger;
}

p{
    font-size: larger;
}
/* kondisi css */
.column-kondisi{
    margin-top: 12px;
    background-color: #313647;
    color: white;
    text-align: left;
    width: 1200px;
    padding: 15px;
    margin-left: 10px;
    margin-bottom: 12px;
}

.column-kondisi h2{
    text-align: center;
}

.galeri-kondisi img{
    width: 600px;
    height: 350px;
    margin-left: 20px;
    margin-bottom: 12px;
}

/* tantangan css */
.column-tantangan{
    margin-top: 12px;
    background-color: #313647;
    color: white;
    text-align: left;
    width: 900px;
    padding: 15px;
    margin-left: 15px;
    margin-bottom: 12px;
    float: left;
}

.column-tantangan h2{
    text-align: center;
}

.galeri-tantangan img{
    width: 200px;
    height: 200px;
    float: right;
    margin-left: 5px;
    margin-top: 20px;
}

.galeri-tantangan1 img{
    width: 200px;
    height: 200px;
    margin-left: 5px;
    float: right;
    margin-top: 20px;
}

/* potensi css */
.column-potensi{
    margin-top: 12px;
    background-color: #313647;
    color: white;
    text-align: left;
    width: 1200px;
    padding: 15px;
    margin-left: 10px;
    margin-bottom: 12px;
}

.column-potensi h2{
    text-align: center;
}

.galeri-potensi img{
    width: 600px;
    height: 350px;
    margin-left: 20px;
    margin-bottom: 12px;
}

/* peran css */
.column-peran{
    margin-top: 12px;
    background-color: #313647;
    color: white;
    text-align: left;
    width: 780px;
    padding: 15px;
    margin-left: 10px;
    margin-bottom: 12px;
    float: left;
}

.column-peran h2{
    text-align: center;
}

.galeri-peran img{
    width: 380px;
    height: 350px;
    margin-left: 20px;
    margin-bottom: 12px;
    margin-top: 12px;
}


/* solusi css */
.column-solusi{
    margin-top: 12px;
    background-color: #313647;
    color: white;
    text-align: left;
    width: 780px;
    padding: 15px;
    margin-left: 10px;
    margin-bottom: 12px;
    float: left;
}

.column-solusi h2{
    text-align: center;
}

.galeri-solusi img{
    margin-top: 45px;
    width: 380px;
    height: 350px;
    margin-left: 20px;
}
/* regional css */
.column-reg{
    margin-top: 12px;
    background-color: #313647;
    color: white;
    text-align: left;
    width: 800px;
    padding: 15px;
    margin-bottom: 12px;
    float: left;
}

.column-reg h2{
    text-align: center;
}

.galeri-reg img{
    margin-top: 45px;
    width: 350px;
    height: 350px;
    margin-left: 20px;
}

/* bilateral css */
.column-bil{
    margin-top: 12px;
    background-color: #313647;
    color: white;
    text-align: left;
    width: 780px;
    padding: 15px;
    margin-left: 10px;
    margin-bottom: 12px;
    float: left;
}

.column-bil h2{
    text-align: center;
}

.galeri-bil img{
    margin-top: 45px;
    width: 380px;
    height: 350px;
    margin-left: 20px;
}

/* multilateral css */
.column-multi{
    margin-top: 12px;
    background-color: #313647;
    color: white;
    text-align: left;
    width: 780px;
    padding: 15px;
    margin-left: 10px;
    margin-bottom: 12px;
    float: left;
}

.column-multi h2{
    text-align: center;
}

.galeri-multi img{
    margin-top: 45px;
    width: 380px;
    height: 350px;
    margin-left: 20px;
}

/* tentang-aku css */
.column-ta{
    margin-top: 12px;
    background-color: #313647;
    color: white;
    text-align: left;
    width: 800px;
    padding: 15px;
    margin-left: 10px;
    margin-bottom: 12px;
    float: left;
}

.column-ta h2{
    text-align: center;
}

.galeri-ta img{
    margin-top: 45px;
    width: 350px;
    height: 350px;
    margin-left: 20px;
}

/* daftar pustaka css */
.column-dp{
    margin-top: 12px;
    background-color: #313647;
    color: white;
    text-align: left;
    width: 1200px;
    padding: 15px;
    margin-left: 10px;
    margin-bottom: 12px;
}

.column-dp h2{
    text-align: center;
}